@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>
<p>@ViewData["Criador"]</p>

<address>
    <strong>Acesse o git: </strong> <a href="https://github.com/GuilhermeNicolodi/SalesWebMVC/tree/master">Clique Aqui</a>
</address>